input[type=submit] {
    width: 150px;
    margin: 20px;
    height: 40px;
}

button {
    width: 150px;
    margin-left: 20px;
    height: 40px;
}

input[type=checkbox] {
    transform: scale(1.2);
}

ul{
    font-size: 18px;
}

h1 {
    margin-left: 30px;
}